.section-inspiration {
  margin-bottom: 20px;

  h5 {
    margin-top: rem-calc(10px);
  }

  p {
    display: block;
    margin: 0 auto;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: rem-calc(15);
    color: $dark-gray;
    max-width: 183px;
  }

}

.section-inspiration .image-container {
  max-height: 325px;
  overflow: hidden;
  border: 1px solid #e6e6e6;
  transition: all 0.15s ease-in-out;

  &:hover {
    border: 1px solid #d1d1d1;
    box-shadow: 0 2px 6px rgba(#000, 0.2);
  }
}

.section-inspiration img {
  max-height: 260px;
  width: 100%;
  overflow: hidden;
}
